  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
  }

  body {
     min-height: 100vh;
     max-height: 100vh;
     width: 100vw;
     overflow: hidden;
     display: flex;
   box-sizing: border-box;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: #F8F8FF;
     font-family: "Rubik", sans-serif;
     color: #424242;
     padding: 0 25px;
  }

  .Instruction {
     font-size: xx-large;
     font-weight: 500;
  }

  @media only screen and (max-width: 480px) {
     .Instruction {
        display: none;
     }
  }

  .statusBar {
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: sticky;
  }

  .HomeIndicatior {
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
  }

  .main {
     height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 0 24px;
  }

  .main .heading {
     width: 100%;
     height: fit-content;
     display: flex;
     justify-content: start;
     align-items: start;
     flex-direction: column;
     gap: 21px;
     flex-wrap: wrap;
  }

  .heading .text {
     width: 190px;
     height: fit-content;
     font-size: 28px;
     font-style: normal;
     font-weight: 600;
     line-height: 110%;
     display: flex;
     flex-wrap: wrap;
  }

  @media only screen and (min-width: 480.1px) {
     .main {
        display: none;
     }

     .statusBar {
        display: none;
     }

     .HomeIndicatior {
        display: none;
     }
  }